/*
 * domain:
 * instagram.com
 */


.o64aR {
  background: #232323;
}

div._lz6s, div.Di7vw {
  background: #1e1e1e;
}

a.gmFkV {
  color: white !important;
}

._8Rm4L {
  color: #333 !important;
}

header.UE9AK, div.eo2As, div.b2rUF, div.DPiy6, div.pR7Pc, div.vtWDf, .JyscU {
  background: #303030;
}

div.b2rUF, article._8Rm4L {
  border: none;
}

a.nJAzx, a.TlrDj, a.zV_Nj, span, span.jQgLo, div.KV-D4, a.O4GlU, div.Nm9Fw, a.RucPH, div.YFq-A, h1.KV-D4, .-nal3, span.g47SY, .-fzfL {
  color: white;
}

.notranslate {
  color: #59bfff !important;
}

span.u-__7, .OfoBO {
  filter: invert();
}

nav.jLuN9 {
  background: #2d2f31;
}
