/*
 * starts with:
 * http://www.zhihu
 * http://zhuanlan.zhihu
 * https://www.zhihu
 * https://zhuanlan.zhihu
 * */
#home-suggest-block, .recommend-posts, .SidebarSection,  /* 我不看推荐 */
.CornerButtons, .FeedbackButton-button-3waL, .btn-backtotop,  /* 不要反馈按钮 */
.AppBanner /* App */
{display:none!important;}

.zg-link, .author-link, .UserLink-link, .UserLink, .CommentItem-context a  /* 用户名橙色 */
{color:#ff8000!important;}
.internal, .external, /* 蓝色链接字改浅蓝 */
.question_link {color:#57b1fd!important;} /* 问答名蓝色 */
.column_link, .post-link, .Navbar-postTitleMain, .main-title a {color:#99ff99!important;} /* 专栏名绿色 */
    /* #c98fff 名紫色 */

pre {background:none#222!important;}

.unread,
.highlight, .Messages-newItem, 
.PushNotifications-newItem, .PushNotifications-followItem:hover,
.Select-option:hover,
.SearchBar-menu, .SearchBar-label,
.Editable-toolbar, .Navbar, 
.Menu-dropdown
{background:#444!important;}

.HomeEntry-box, .editable {border:1px solid #fff;}    

img[eeimg="1"] {filter: invert(100%);} /* 公式图反色 */

.entry-title, strong,
.HomeEntry-box, .block-title span, .editable,
.pagination, .tabs-anchor, .ng-scope, .ng-valid,
/* 针对新版主页 */
.zu-top, .current .zu-top-nav-link,
.AppHeader, .Tabs-link, .CommentList, .Pagination, .PaginationButton,
.Input-wrapper, .PushNotifications-content, .Messages-content, .Popover-fixedTargetContainer .Menu-item, .Notifications-footer, .Messages-footer, .Modal-inner, 
.PageHeader-content, .ProfileHeader-wrapper, .Card, .ContentItem-actions,
.HoverCard, .Menu, .menu-item, .NumberBoard-value, .PushNotifications-item span,
.CommentItem, .CommentTopbar, .CommentTopbar-title, .Select-button, .Select-list, .Comments-footer, .DraftEditor-root,
.ContentItem-title, ._CommentForm_root_1-ko, ._InputBox_empty_3_ur, .AnswerForm-footer,
.QuestionHeader, .QuestionHeader-footer, .QuestionHeader-title, .Modal-title, 
.Navbar, .BlockTitle-title, .PostIndex-recommendZone::before, 
.ProfileHeader-detail, .Profile-warnText,
.Card-card-102t, .TabNavBar-root-3526,    /* Live */
.title,   /* 文章编辑器 */
.zg-editor-input,   /* 私信 */
.ColumnPageHeader-content,
/* 后面这些代码不记得是用的谁的了 _(:з」∠)_ */
.zm-editable-toolbar-container,#zu-distraction-free-editor,.goog-toolbar,.modal-dialog-buttons,body,
.zu-top-search-input, .zu-top-search-input:focus,
.zu-autocomplete-row-label,.zm-item-tag,.zm-comment-list,.zm-meta-panel,#header,.modal-dialog,
.zu-top-search .ac-renderer,.zm-comment-form,.up,.down,.zm-item-vote-count,li.tab-nav.active .anchor,.profile-navbar,.popover-content,.upper,.lower,.tagline,.secondary *,._CommentItem_content_CYqW, .comment-list, .ac-renderer *,
.zm-comment-content,.zm-profile-search-query-input,.zu-top-nav-userinfo.selected,#top-nav-profile-dropdown [href],.zu-top-nav-userinfo,
.zm-comment-editable,.zm-editable-editor-field-element,.zm-editable-editor-field-wrap,.more-awesome span,.follow-button.zg-follow.zg-btn-green,.zg-btn.zg-btn-follow.zm-rich-follow-btn.small.nth-0,#zh-question-operation-menu,.goog-menu.goog-menu-vertical,li.tab-nav:nth-child(1) > a:nth-child(1),a.active,.zm-side-nav-link:hover
{background:none #222!important;color:#ddd!important;}

.badge-summary *, .AuthorInfo-badge, blockquote {color:#aaa!important;}

/* 加一些深蓝 */
.QuestionTopic, .Comments-Packup-Button, .CommentEditor-singleButton
{color:#fff!important; background:#3B6092!important;}

    
    
    
.modal-dialog-bg {background:rgba(0,0,0,.8)!important;}
    
.zu-top-nav-live >*{background:#222!important;}

.name,.zm-item-answer-author-wrap a{color:#ff8000!important;}
.zm-favo-list-item-title, .ng-binding {color:#bbb!important;}


.zg-btn-white.zu-button-more,.zu-autocomplete-row-search-link,.load-more:HOVER,.lbl,.zg-form-text-input.add-question-title-form,#zh-question-suggest-title-content,.zu-question-suggest-topic-input.label-input-label,.ac-row{background:none#222!important;color:#bbb!important;border-left-color:#000!important;border-right-color:#222!important;border-bottom-color:#000!important;border-top-color:#000!important;margin-top:0px!important;}

.up.pressed,.down.pressed{background:none#444!important;color:#bbb!important;}

.zu-top-add-question,.content-wrap,.question-title,.content,.modal-dialog.absolute-position,.modal-dialog-title.modal-dialog-title-draggable{background:none#222!important;color:#bbb!important;}

.ac-row.ac-active.active{background-color:#222!important}

.zu-autocomplete-row-name,.zm-ac-link{color:white!important}

.global-header,.qr{visibility:hidden!important;}

div.Post-content, div.RichContent-actions { background: #1A1A1A !important; }
div.ColumnPageHeader, .CommentListV2, .CommentsV2-footer, .CommentEditorV2-inputUpload { background: #222; }
.Editable-control { filter: invert(); }
